[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
ipdb = "*"
appnope = {version = "*", sys_platform = "== 'darwin'"}
pre-commit = "*"
pytest = "*"
pytest-cov = "*"

[packages]
irc3 = "*"
lxml = "*"
aiohttp = "*"
aiocron = "*"
watchdog = "*"
dataset = "*"
alembic = "*"
python-decouple = "*"

[requires]
python_version = "3.7"
