[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
irc3 = "*"
redis = "*"
lxml = "*"
aiohttp = "*"
aiocron = "*"
watchdog = "*"
dataset = "*"
alembic = "*"

[requires]
python_version = "3.7"
